In [1]:
import pandas as pd

In [3]:
df=pd.read_excel("Online Retail.xlsx")
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [5]:
df[df.duplicated()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.0,United Kingdom
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908.0,United Kingdom
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908.0,United Kingdom
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908.0,United Kingdom
555,536412,22327,ROUND SNACK BOXES SET OF 4 SKULLS,1,2010-12-01 11:49:00,2.95,17920.0,United Kingdom
...,...,...,...,...,...,...,...,...
541675,581538,22068,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,14446.0,United Kingdom
541689,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,14446.0,United Kingdom
541692,581538,22992,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446.0,United Kingdom
541699,581538,22694,WICKER STAR,1,2011-12-09 11:34:00,2.10,14446.0,United Kingdom
541701,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,14446.0,United Kingdom

In [6]:
df.drop_duplicates(inplace=True)

In [ ]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [7]:
df['Description']=df['Description'].fillna('Unknown')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 536641 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    536641 non-null  object
 1   StockCode    536641 non-null  object
 2   Description  536641 non-null  object
 3   Quantity     536641 non-null  int64
 4   InvoiceDate  536641 non-null  datetime64[ns]
 5   UnitPrice    536641 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      536641 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 36.8+ MB

In [9]:
df['StockCode']=df['StockCode'].str.strip()

In [10]:
df['Isreturn']=df['Quantity'].apply(lambda x:1 if x<0 else 0)

In [11]:
df['Quantity']=df['Quantity'].apply(lambda x:0 if x<0 else x)

In [12]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])

In [13]:
df['UnitPrice']=df['UnitPrice'].apply(lambda x:0 if x<0 else x)

In [14]:
df['Revenue']=df['Quantity']*df['UnitPrice']

In [15]:
df = df.dropna(subset=['CustomerID'])

In [16]:
df['CustomerID'].nunique()

4372

In [18]:
df['InvoiceNo'].count()

np.int64(401604)

In [17]:
df['Revenue'].sum()

np.float64(8887208.894000001)

In [19]:
AOV = df.groupby('InvoiceNo')['Revenue'].sum().mean()
AOV

np.float64(400.505132672375)

In [21]:
df['CustomerID']=df['CustomerID'].astype(int)

/tmp/ipython-input-1114247596.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CustomerID']=df['CustomerID'].astype(int)

Top 10 Customers by revenue

In [24]:
freq_customers = df.groupby('CustomerID')['InvoiceNo'].nunique().sort_values(ascending=False).head(10)
freq_customers

CustomerID
14911    248
12748    224
17841    169
14606    128
15311    118
13089    118
12971     89
14527     86
13408     81
14646     77
Name: InvoiceNo, dtype: int64

In [25]:
spend = df.groupby('CustomerID')['Revenue'].sum()
spend.describe()

count      4372.000000
mean       2032.755923
std        8952.025481
min           0.000000
25%         302.175000
50%         659.435000
75%        1647.315000
max      280206.020000
Name: Revenue, dtype: float64

In [26]:
c=df.groupby('StockCode')['Revenue'].sum().sort_values(ascending=False).head(10)
c

StockCode
85123A     100547.45
85099B      85040.54
POST        77803.96
M           53419.93
85099F      30569.32
85099C      23630.58
15056N      20672.91
84997D      18798.70
82494L      17583.77
15056BL     15218.67
Name: Revenue, dtype: float64

In [27]:
d=df.groupby('StockCode')['Revenue'].sum().sort_values(ascending=False).head(1)
d

StockCode
85123A    100547.45
Name: Revenue, dtype: float64

In [28]:
e=df.groupby(df['InvoiceDate'].dt.month)['Revenue'].sum().sort_values(ascending=False)
e

InvoiceDate
11    1156205.610
12    1087613.170
10    1035642.450
9      950690.202
5      677355.150
6      660046.050
8      644051.040
7      598962.901
3      594081.760
1      568101.310
4      468374.331
2      446084.920
Name: Revenue, dtype: float64

In [29]:
f=df.groupby(df['InvoiceDate'].dt.day_of_week)['Revenue'].sum().sort_values(ascending=False)
f

InvoiceDate
3    1973015.730
1    1697733.801
2    1584283.830
4    1483080.811
0    1363604.401
6     785490.321
Name: Revenue, dtype: float64

In [30]:
g=df.groupby(df['InvoiceDate'].dt.hour)['Revenue'].sum().sort_values(ascending=False)
g

InvoiceDate
12    1373695.390
10    1259267.591
13    1168724.200
11    1101177.600
14     991992.821
15     963559.680
9      842392.341
16     467380.560
8      281997.790
17     233811.591
18     104744.990
19      48568.400
7       31059.210
20      18832.480
6           4.250
Name: Revenue, dtype: float64